@use "sass:meta";

/* Make section links (#something in URL) account for header */
* {
  scroll-margin-top: 5rem;
}

/* Light mode code themes */
*:where(.light) {
  @include meta.load-css("highlight.js/styles/github");
}

/* Dark mode code themes */
*:where(.dark) {
  @include meta.load-css("highlight.js/styles/github-dark");
}

/* Themed images */
.light-image,
.dark-image {
  display: none;
}

:root:where(.light) .light-image {
  display: unset;
}

:root:where(.dark) .dark-image {
  display: unset;
}


/* Code block callouts, e.g. L1, L2, etc. */
.codeblock .marker {
  margin-left: -2px;
  margin-right: -2px;
}

.highlight {
  background-color: #ffed25a3;
  border-radius: var(--shape-borderRadius);

  *:where(.dark) & {
    background-color: #46480f;
  }
}

.codeblock .highlight {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -3px;
  margin-right: -3px;
}

.striped {
  background: repeating-linear-gradient(45deg,
      #7c7c7c45,
      #7c7c7c45 3px,
      #00000000 3px,
      #00000000 6px);
}