@use "sass:meta";

/* Light mode code themes */
*:where(.light) {
  @include meta.load-css("highlight.js/styles/github");
}

/* Dark mode code themes */
*:where(.dark) {
  @include meta.load-css("highlight.js/styles/github-dark");
}

/* Code block callouts, e.g. L1, L2, etc. */
.codeblock .marker {
  margin-left: -2px;
  margin-right: -2px;
}

.codeblock .highlight {
  padding-left: 3px;
  padding-right: 3px;
  background-color: #ffed25a3;
  border-radius: var(--shape-borderRadius);
  margin-left: -3px;
  margin-right: -3px;

  *:where(.dark) & {
    background-color: #46480f;
  }
}