@use "sass:meta";

/* Light mode code themes */
*:where(.light) {
  @include meta.load-css("highlight.js/styles/github");
}

/* Dark mode code themes */
*:where(.dark) {
  @include meta.load-css("highlight.js/styles/github-dark");
}
.codeblock {
  .marker {
    margin-left: -2px;
    margin-right: -2px;
  }

  .highlight {
    background-color: #ffde69aa;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -3px;
    margin-right: -3px;
    border-radius: var(--shape-borderRadius);
  }

  .hide {
    opacity: 0.5;
  }
}