@use "sass:meta";

/* Light mode themes */
*:where(.light) {
  @include meta.load-css("highlight.js/styles/github");
}

/* Dark mode themes */
*:where(.dark) {
  @include meta.load-css("highlight.js/styles/github-dark");
}

.codeblock .marker {

  &::before,
  &::after {
    content: " ";
  }

  margin-left: -2px;
  margin-right: -2px;
}